{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
<script type="text/javascript">
  function addRow() {
    var querySet = "{{ input_type_query_set | safe }}";
    var inputTypes = querySet
      .replace(/[^a-z]/g, "")
      .replace(/u/g, " ")
      .trim()
      .split(" ");
    var table = document.getElementById("table");
    var row = table.insertRow(-1);

    inputTypes.map((type, index) => {
      cell = row.insertCell(index);
      cell.innerHTML = `<input type='${type}'/>`;
    });
  }
</script>

<body>
  <div class="pagewrap">
    <div class="form">
      <h3 class="form_title">Relevant Working Experience</h3>
      <p class="sub_title">
        Please fill in your Educational qualifications, beginning with the most
        recent
      </p>
      {% if latest_colomn_list %}
      <table id="table">
        <tr class="table_title">
          {% for colomn in latest_colomn_list %}
          <td>{{colomn.title}}</td>
          {%endfor%}
        </tr>
        <tr>
          {% for colomn in latest_colomn_list %}
          <td><input type="{{colomn.input_type}}" /></td>
          {%endfor%}
        </tr>
      </table>
      <div class="plus" onclick="addRow()"></div>
      <div class="buttons">
        <button
          class="previous_button"
          onclick="window.location.href=`{% url 'education' %}`"
        >
          PREVIOUS
        </button>
        <button
          class="next_button"
          onclick="window.location.href=`{% url 'reference' %}`"
        >
          NEXT
        </button>
      </div>
      {%else%}
      <p class="missing_table">Table unavailable</p>
      {%endif%}
    </div>
  </div>
</body>
