{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
<script src=""></script>

<body>
  <div class="pagewrap">
    <div class="form">
      <h3 class="form_title">Academic Qualification</h3>
      <p class="sub_title">
        Please fill in your Educational qualifications, beginning with the most
        recent
      </p>
      <table>
        {% if latest_colomn_list %}
        <tr class="table_title">
          {% for colomn in latest_colomn_list %}
          <td>{{colomn.title}}</td>
          {%endfor%}
        </tr>
        <tr>
          {% for colomn in latest_colomn_list %}
          <td><input type="{{colomn.input_type}}" /></td>
          {%endfor%}
        </tr>
        {%else%}
        <p>Table unavailable</p>
        {%endif%}
      </table>
      <div class="plus" onclick=""></div>
    </div>
  </div>
</body>
